reviews_Books_5.json
Books_5.json
BX-*
datafile/reviews_Books_5.json
datafile/Books_5.json
nohup.out
RunningScriptPIDs.txt
*.pyc
.idea/*
.idea
__pycache__/*
__pycache__
.DS_Store
UserProfileLearner/.idea
UserProfileLearner/.idea/*
datafile/GoogleBooksDescriptions2016*
datafile/GoogleBooksDescriptions2017*
datafile/ISBNNumsInCommonRewritable.txt
BXSorted.csv
AmzonSorted.csv
AmazonSorted.csv
isbn_text_files/
isbn_text_files
isbn_text_files/*
datafile/isbn_text_files.zip
datafile/isbn_text_files*
datafile/isbn_text_files/
datafile/isbn_text_files/*
datafile/BXSorted.csv
datafile/AmazonSorted.csv
datafile/book_counts_for_users.txt
datafile/user_ratings.txt
datafile/user_ratings_g3.txt
onefifth_sample_mat.npz
onethird_sample_mat.npz
stanford*
test_isbns*
datafile/*full_dict.txt
*full_dict.txt
*TFIDF*
*Sentiment*
*isbn_text_files*
*TEST.txt
datafile/results_by*
datafile/single_bin_rmse*
datafile/rmse_single*
datafile/results*
datafile/prediction*
datafile/hybrid_results*
datafile/._results_by*
DataEvaluation/*.csv
DataEvaluation/*.CSV
DataEvaluation/*.Csv
DataEvaluation/RatingsFiles/*
DataEvaluation/UserData/*
dev_norm_pred/*
dev_norm_pred_rmse/*
dev_unnorm_pred/*
dev_unnorm_pred_rmse/*
eval_norm_pred/*
eval_norm_pred_rmse/*
eval_unnorm_pred/*
eval_unnorm_pred_rmse/*
*.csv
*.p
